<form action="/apartments/<%= params[:apt_id] %>/update" method="post">
  <div class='apartment_name'>
    <label for="apartment_name">Enter the new name of your property:</label>
    <input name="apartment_name" placeholder="<%= @storage.find_apartment(params[:apt_id])[0][:name] %>" type="text" value="<%= params[:apartment_name] %>">
  </div>
  <div class="apartment_address">
    <label for="apartment_address">Enter the updated address of your property: </label>
    <input name="apartment_address" placeholder="<%= @storage.find_apartment(params[:apt_id])[0][:address] %>" type="text" value="<%= params[:apartment_address] %>">
  </div>
  <div class="apartment">
    <input type="submit" value="Save">
    <a href='/apartments?page_count=0'>Cancel</a>
  </div>
</form>
